// ADD CLASS TO USE
// col-xx- | >= 1180 px | gap 24 px
// col-xx- | >= 1180 px | gap 24 px
// col-xl- | >= 1024 px | gap 24 px
// col-lg- | >=  768 px | gap 24 px
// col-md- | >=  540 px | gap 16 px
// col-sm- | >=  480 px | gap 16 px
// col-xs- | >=  360 px | gap 16 px
// col-ss- | >=  320 px | gap 8 px

:root {
	// 1432
	// block container --> (92px * 12 columns) + (gutter 24 px * 11) + (side padding 32px * 2)
	// 1272
	// block container --> (84px * 12 columns) + (gutter 24 px * 11) + (side padding 32px * 2)
	--screen--container__width: 1272px;

	--screen--gap: 24px;
	--screen--col-gap: 24px;
	--screen--col-outer: 32px;

	--screen--gap__xx: var(--screen--gap);
	--screen--col-gap__xx: var(--screen--col-gap);
	--screen--col-outer__xx: var(--screen--col-outer);

	--screen--gap__xl: 24px;
	--screen--col-gap__xl: 24px;
	--screen--col-outer__xl: 24px;
	--screen--gap__lg: var(--screen--gap__xl);
	--screen--col-gap__lg: var(--screen--col-gap__xl);
	--screen--col-outer__lg: var(--screen--col-outer__xl);

	--screen--gap__md: 16px;
	--screen--col-gap__md: 16px;
	--screen--col-outer__md: 16px;
	--screen--gap__sm: var(--screen--gap__md);
	--screen--col-gap__sm: var(--screen--col-gap__md);
	--screen--col-outer__sm: var(--screen--col-outer__md);
	--screen--gap__xs: var(--screen--gap__md);
	--screen--col-gap__xs: var(--screen--col-gap__md);
	--screen--col-outer__xs: var(--screen--col-outer__md);

	--screen--gap__ss: 8px;
	--screen--col-gap__ss: 8px;
	--screen--col-outer__ss: 8px;
}
