.List {
	display: inline-flex;
	flex-direction: column;
	// row-gap: 4px;
}

.unordered {
	li {
		list-style-type: disc;
		color: var(--color--f1-1);
		margin-left: 36px;
	}
}

.custom {
	li {
		color: var(--color--f1-1);
		margin-left: 36px;
	}
}
