$font__name_primary: "Montserrat";
$font__name_secondary: "Montserrat";
$font__name_tertiary: "";

$font-family__primary: $font__name_primary, system-ui, sans-serif, serif;
$font-family__secondary: $font__name_secondary, system-ui, sans-serif, serif;
$font-family__tertiary: $font__name_tertiary, monospace, system-ui, sans-serif, serif;
