:root {
	--color__h1: var(--color--f1-1);
	--color__h2: var(--color--f1-1);
	--color__h3: var(--color--f1-1);
	--color__h4: var(--color--f1-1);
	--color__h5: var(--color--f1-1);
	--color__h6: var(--color--f1-1);
	--color__p1: var(--color--f1-1);
	--color__p2: var(--color--f1-1);
	--color__subtitle1: var(--color--f1-1);
	--color__subtitle2: var(--color--f1-1);
	--color__caption: var(--color--f1-1);
	--color__overline: var(--color--f1-1);
	// --color__button: var(--color--a1-1);
	// --color__button-sm: var(--color--f1-1);
	// --color__button-icon: var(--color--f1-1);
	// --color__button-icon-sm: var(--color--f1-1);
	--color__link: var(--color--f1-1);
	--color__link-sm: var(--color--f1-1);
	--color__input: var(--color--f1-1);

	--color__h1_inversion: var(--color--f2-1);
	--color__h2_inversion: var(--color--f2-1);
	--color__h3_inversion: var(--color--f2-1);
	--color__h4_inversion: var(--color--f2-1);
	--color__h5_inversion: var(--color--f2-1);
	--color__h6_inversion: var(--color--f2-1);
	--color__p1_inversion: var(--color--f2-1);
	--color__p2_inversion: var(--color--f2-1);
	--color__subtitle1_inversion: var(--color--f2-1);
	--color__subtitle2_inversion: var(--color--f2-1);
	--color__caption_inversion: var(--color--f2-1);
	--color__overline_inversion: var(--color--f2-1);
	// --color__button_inversion: var(--color--f2-1);
	// --color__button-sm_inversion: var(--color--f2-1);
	// --color__button-icon_inversion: var(--color--f2-1);
	// --color__button-icon-sm_inversion: var(--color--f2-1);
	--color__link_inversion: var(--color--f2-1);
	--color__link-sm_inversion: var(--color--f2-1);
	--color__input_inversion: var(--color--f2-1);
}
