@use "../../../styles/globals/" as *;
@use "typographyFonts.variables" as *;

:root {
	--typography__font-family_h1: #{$font-family__secondary};
	--typography__font-family_h2: #{$font-family__secondary};
	--typography__font-family_h3: #{$font-family__secondary};
	--typography__font-family_h4: #{$font-family__secondary};
	--typography__font-family_h5: #{$font-family__secondary};
	--typography__font-family_h6: #{$font-family__secondary};
	--typography__font-family_subtitle1: #{$font-family__secondary};
	--typography__font-family_subtitle2: #{$font-family__secondary};
	--typography__font-family_p1: #{$font-family__secondary};
	--typography__font-family_p2: #{$font-family__secondary};
	--typography__font-family_caption: #{$font-family__secondary};
	--typography__font-family_overline: #{$font-family__secondary};
	--typography__font-family_button: #{$font-family__secondary};
	--typography__font-family_button-sm: #{$font-family__secondary};
	--typography__font-family_button-icon: #{$font-family__secondary};
	--typography__font-family_button-icon-sm: #{$font-family__secondary};
	--typography__font-family_link: #{$font-family__secondary};
	--typography__font-family_link-sm: #{$font-family__secondary};
	--typography__font-family_input: #{$font-family__secondary};

	--typography__font-size_h1: 64px;
	--typography__font-size_h2: 48px;
	--typography__font-size_h3: 36px;
	--typography__font-size_h4: 24px;
	--typography__font-size_h5: 18px;
	--typography__font-size_h6: 14px;
	--typography__font-size_p1: 18px;
	--typography__font-size_p2: 14px;
	--typography__font-size_subtitle1: 12px;
	--typography__font-size_subtitle2: 10px;
	--typography__font-size_caption: 8px;
	--typography__font-size_overline: 18px;
	--typography__font-size_button: 18px;
	--typography__font-size_button-sm: 14px;
	--typography__font-size_button-icon: 18px;
	--typography__font-size_button-icon-sm: 14px;
	--typography__font-size_link: 18px;
	--typography__font-size_link-sm: 14px;
	--typography__font-size_input: 18px;

	@include screen-md {
		--typography__font-size_h1: 48px;
		--typography__font-size_h2: 36px;
		--typography__font-size_h3: 24px;
		--typography__font-size_h4: 18px;
		--typography__font-size_h5: 16px;
		--typography__font-size_h6: 12px;
		--typography__font-size_p1: 16px;
		--typography__font-size_p2: 12px;
		--typography__font-size_subtitle1: 10px;
		--typography__font-size_subtitle2: 8px;
		--typography__font-size_caption: 8px;
		--typography__font-size_overline: 16px;
		--typography__font-size_button: 16px;
		--typography__font-size_button-sm: 12px;
		--typography__font-size_button-icon: 16px;
		--typography__font-size_button-icon-sm: 12px;
		--typography__font-size_link: 16px;
		--typography__font-size_link-sm: 12px;
		--typography__font-size_input: 16px;
	}

	--typography__font-weight_h1: 700;
	--typography__font-weight_h2: 700;
	--typography__font-weight_h3: 700;
	--typography__font-weight_h4: 700;
	--typography__font-weight_h5: 700;
	--typography__font-weight_h6: 700;
	--typography__font-weight_p1: 500;
	--typography__font-weight_p2: 500;
	--typography__font-weight_subtitle1: 700;
	--typography__font-weight_subtitle2: 700;
	--typography__font-weight_caption: 500;
	--typography__font-weight_overline: 700;
	--typography__font-weight_button: 700;
	--typography__font-weight_button-sm: 700;
	--typography__font-weight_button-icon: 700;
	--typography__font-weight_button-icon-sm: 700;
	--typography__font-weight_link: 500;
	--typography__font-weight_link-sm: 500;
	--typography__font-weight_input: 500;

	--typography__line-height_h1: 140%;
	--typography__line-height_h2: 140%;
	--typography__line-height_h3: 140%;
	--typography__line-height_h4: 160%;
	--typography__line-height_h5: 160%;
	--typography__line-height_h6: 160%;
	--typography__line-height_p1: 160%;
	--typography__line-height_p2: 160%;
	--typography__line-height_subtitle1: 140%;
	--typography__line-height_subtitle2: 140%;
	--typography__line-height_caption: 120%;
	--typography__line-height_overline: 120%;
	--typography__line-height_button: 120%;
	--typography__line-height_button-sm: 120%;
	--typography__line-height_button-icon: 120%;
	--typography__line-height_button-icon-sm: 120%;
	--typography__line-height_link: 140%;
	--typography__line-height_link-sm: 140%;
	--typography__line-height_input: 140%;

	--typography__letter-spacing_h1: 0;
	--typography__letter-spacing_h2: 0;
	--typography__letter-spacing_h3: 0;
	--typography__letter-spacing_h4: 0;
	--typography__letter-spacing_h5: 0;
	--typography__letter-spacing_h6: 0;
	--typography__letter-spacing_p1: 0;
	--typography__letter-spacing_p2: 0;
	--typography__letter-spacing_subtitle1: 0;
	--typography__letter-spacing_subtitle2: 0;
	--typography__letter-spacing_caption: 0;
	--typography__letter-spacing_overline: 0;
	--typography__letter-spacing_button: 0;
	--typography__letter-spacing_button-sm: 0;
	--typography__letter-spacing_button-icon: 0;
	--typography__letter-spacing_button-icon-sm: 0;
	--typography__letter-spacing_link: 0;
	--typography__letter-spacing_link-sm: 0;
	--typography__letter-spacing_input: 0;

	--typography__font-style_h1: normal;
	--typography__font-style_h2: normal;
	--typography__font-style_h3: normal;
	--typography__font-style_h4: normal;
	--typography__font-style_h5: normal;
	--typography__font-style_h6: normal;
	--typography__font-style_p1: normal;
	--typography__font-style_p2: normal;
	--typography__font-style_subtitle1: normal;
	--typography__font-style_subtitle2: normal;
	--typography__font-style_caption: normal;
	--typography__font-style_overline: normal;
	--typography__font-style_button: normal;
	--typography__font-style_button-sm: normal;
	--typography__font-style_button-icon: normal;
	--typography__font-style_button-icon-sm: normal;
	--typography__font-style_link: normal;
	--typography__font-style_link-sm: normal;
	--typography__font-style_input: normal;
}
