@use "../../styles/globals/" as *;

.StickyButton {
	--sticky-button-offset: 24px;
	z-index: 10;
	position: fixed;
	right: var(--gap);
	bottom: calc(var(--gap) * -2);
	background-color: var(--color--b1-2);
	border-radius: 50%;
	@extend %box-shadow--default;
	&.hide {
		bottom: -64px;
		animation-name: sticky-button-hide;
		animation-duration: 0.4s;
		animation-fill-mode: forwards;
	}
	&.show {
		animation-name: sticky-button-show;
		animation-duration: 0.4s;
		animation-fill-mode: forwards;
	}

	// transform: translateY();
	// translate: ;
}

// .theme-button {
// 	padding: 16px;
// 	border-radius: 50%;
// }

@keyframes sticky-button-show {
	100% {
		bottom: calc(var(--sticky-button-offset));
	}
}

@keyframes sticky-button-hide {
	100% {
		bottom: -64px * 3;
	}
}
