.inputContainer {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	column-gap: 8px;
	min-height: 16px;
	cursor: pointer;
}

.input {
	display: flex;
	flex-shrink: 0;
	position: relative;
	top: 6.5px;
	align-self: flex-start;
}
