.inputContainer {
	position: relative;
}

.icon {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.input {
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
}
