.element {
	height: 16px;
	display: flex;
	align-items: center;
	column-gap: 6px;
	cursor: pointer;
}

.elementsContainer {
	display: flex;
	align-items: center;
	column-gap: 16px;
}

.input[type="radio"] {
	// Remove most all native input styles
	-webkit-appearance: none;
	appearance: none;
	// For iOS < 15
	background-color: none;
	// Not removed via appearance
	margin: 0;

	width: 18px;
	height: 18px;
	border: 2px solid var(--color--b1-2);
	border-radius: 50%;

	display: grid;
	place-content: center;
	cursor: pointer;
	background-color: var(--color--b1-1);
}

.input[type="radio"]::before {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	transform: scale(0);
	transition: transform 0.2s ease-in-out;
	box-shadow: inset 1em 1em var(--color--f1-1);
}

.input[type="radio"]:checked::before {
	transform: scale(100%);
}
