@use "../../styles/globals/" as *;

.MenuItem {
	padding: 12px 16px;
	display: flex;
	align-items: center;
	gap: 8px;
	& > * {
		display: flex;
		align-items: center;
		line-height: 100%;
	}
	user-select: none;
	list-style: none;

	@include clickable;

	@include hover {
		background-color: var(--color--b1-1);
	}

	@include active {
		background-color: var(--color--b1-0);
	}

	@include disabled;
}
