@use "~/ameliance-ui/styles/globals/" as *;

.SongListItem {
	background-color: var(--color--e2-0);
	padding: 8px 16px;
	border-radius: 8px;

	@include clickable;

	&.active {
		background-color: var(--color--e2-2);
	}
}

.song {
	display: flex;
	justify-content: space-between;
	user-select: none;
}
