@use "~/ameliance-ui/styles/globals/" as *;

body:has(.SongsListPage) {
	background: var(--color--b1-0);
}

.SongsListPage .container {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	max-width: 480px;
	width: 100%;
	scroll-padding-top: 0px;
	padding-bottom: 76px;
}

.tools {
	display: flex;
	justify-content: center;
	gap: 8px;
	flex-direction: column;
}
