@use "~/ameliance-ui/styles" as *;

html {
	scroll-padding-top: 0px;
}

body {
	background: var(--color--bg-1-gradient);
	background-attachment: fixed;
	position: relative;
}

#root {
	gap: var(--gap);
}
