%alert {
	background-color: var(--color--a4-2);
	color: var(--color--a4-0);
}

%success {
	background-color: var(--color--a1-2);
	color: var(--color--a1-0);
}

%info {
	background-color: var(--color--a2-2);
	color: var(--color--a2-0);
}

%error {
	background-color: var(--color--a5-2);
	color: var(--color--a5-0);
}

%warn {
	background-color: var(--color--a6-2);
	color: var(--color--a6-0);
}
